:root{
  --primary: rgb(111, 69, 56);
  --secondary: rgb(0, 0, 0);
  --bodyColor: rgb(255, 255, 255);

  --font: 
}

h1, h2, h3, h4, h5, h6, span{
  color: var(--secondary);
}

*{
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bodyColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
